<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="38352LectricWings.DestinySpectre" Publisher="CN=D7F62D94-A3D3-4CE5-B67A-A1FD671A3F1D" Version="1.1.0.0" />
  <mp:PhoneIdentity PhoneProductId="9cad2375-90cd-44ec-86d9-09bbd3a1e64d" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>DestinySpectre</DisplayName>
    <PublisherDisplayName>'Lectric Wings</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="DestinySpectre.App">
      <uap:VisualElements DisplayName="Destiny Spectre" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Destiny Spectre is a Guardian toolbox for working in this world, while making life in the other more interesting." BackgroundColor="#0B0E1F">
        <uap:LockScreen Notification="badge" BadgeLogo="Assets\BadgeLogo.png" />
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square310x310Logo="Assets\LargeTile.png" Square71x71Logo="Assets\SmallTile.png" ShortName="Spectre">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#0B0E1F" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="userAccountInformation" />
  </Capabilities>
</Package>